@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<main class="main single-page">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("IndexCsutomer" , "Home")" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> About us
            </div>
        </div>
    </div>
    <section class="section-padding">
        <div class="container pt-25">
            <div class="row">
                <div class="col-lg-6 align-self-center mb-lg-0 mb-4">
                    <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Company</h6>
                    <h1 class="font-heading mb-40">
                        We are Building The Destination For Getting Things Done
                    </h1>
                    <p>Welcome to Swiss Metro Cookware, we are Pakistan's premier kitchen store with one of the biggest ranges of cookware, homewares and gifts at unbeatable prices.</p>
                    <p>Our promise to you is to always deliver the absolute best price along with great advice on everything that can be used in the kitchen and around the home. No matter what you are after we have it here, a new baking pan, knife set, food processor or simply the best kitchen gadgets for your kitchen</p>
                </div>
                <div class="col-lg-6">
                    <img src="assets/imgs/page/about-1.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="pt-25 wow fadeIn animated">
        <div class="container">
            <div class="row mb-50 align-items-center">
                <div class="col-md-6">
                    <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Services</h6>
                    <h2 class="mb-15 wow fadeIn animated">Blending Tradition with Modernism</h2>
                    <p class="text-grey-3 wow fadeIn animated">
                        We are an authorised online retailer for all the brands we sell, and all of our products are brand new. We are constantly sourcing new and exciting brands with new products which we feel add something special to our collection. You can keep an eye on these in our ever-changing New Products section on our <a href="@Url.Action("IndexCustomer" , "Home")">HomePage</a>.
                    </p>
                </div>
                <div class="col-md-6 text-md-end mt-30">
                    <a class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand text-hover-white border-radius-5 btn-shadow-brand hover-up" href="@Url.Action("Shop" , "Home")">Shop Now!</a>
                </div>
            </div>
            
        </div>
    </section>
    <section id="work" class="mt-40 pt-50 pb-50 section-border">
        <div class="container">
            <div class="row mb-50">
                <div class="col-lg-12 col-md-12 text-center">
                    <h6 class="mt-0 mb-5 text-uppercase  text-brand font-sm wow fadeIn animated">Swiss Metro Cookware</h6>
                    <h2 class="mb-15 text-grey-1 wow fadeIn animated">Our Vision</h2>
                    <p class="w-50 m-auto text-grey-3 wow fadeIn animated">We aim to deliver all our products to you at unbelievable value for money.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center mb-md-0 mb-4">
                    <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="assets/imgs/page/company-1.jpg" alt="">
                    <h4 class="mt-30 mb-15 wow fadeIn animated">Who Are We</h4>
                    <p class="text-grey-3 wow fadeIn animated">As a family-run business, we pride ourselves on the high level of service and customer satisfaction. </p>
                </div>
                <div class="col-md-4 text-center mb-md-0 mb-4">
                    <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="assets/imgs/page/company-2.jpg" alt="">
                    <h4 class="mt-30 mb-15 wow fadeIn animated">What Do We Do</h4>
                    <p class="text-grey-3 wow fadeIn animated">Our promise to you is to always deliver the absolute best price along with great advice on everything that can be used in the kitchen and around the home.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="assets/imgs/page/company-3.jpg" alt="">
                    <h4 class="mt-30 mb-15 wow fadeIn animated">Our Specialty</h4>
                    <p class="text-grey-3 wow fadeIn animated">We specialize in timeless styles with clean contemporary looks that can happily slot into any kitchen or dining room. </p>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials" class="section-padding">
        <div class="container pt-25">
            <div class="row mb-50">
                <div class="col-lg-12 col-md-12 text-center">
                    <h6 class="mt-0 mb-10 text-uppercase  text-brand font-sm wow fadeIn animated">Thank You For Visitng!</h6>
                    <p class="w-50 m-auto text-grey-3 wow fadeIn animated">We hope to see you again soon!</p>
                </div>
            </div>
            
            
        </div>
    </section>
    
</main>